@import "../variables";

.home {
  display: flex;

  > div {
    flex-basis: 20%;
  }

  .profile {
    min-width: 150px;
    max-width: 300px;
    padding: 1em;
    box-sizing: border-box;

    > img {
      object-fit: cover;
      width: 100%;
    }
  }

  .content {
    flex-grow: 4;

    .breadcrumb-container {
      padding: 0 1em;


      .breadcrumb {
        cursor: pointer;
        color: $blue;

        &:last-of-type {
          color: $alto;
          pointer-events: none;
        }
      }
    }
  }
}
